
.footer{
    padding-top: 10px;
    border: 1px solid transparent;
    background-color: #ededed;
}

.footer > .container{
    text-align: center;
}
<!-- Keeping the jumbotron of the header -->
body {
    padding-top: 50px;
    background-color: orange;
}


<!-- Island header left and right alignment same line -->
.alignment{
    clear:both;
}
.alignment-left{
    float:left;
}